body {
    font-family: 'Abel', sans-serif;
    
}

.images { 
 display: flex;
}


.images img {
 width: 25%;
}

.header-main {
    position: relative;
    width: inherit;
    height: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    margin: 6px;
    padding: 6px 6px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-decoration: none;
}

.form-inline {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100px;

}

div {
    display: block;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #eee;
}

.facebook {
	border:0;
	width:30px;
	height:30px;
}

.instagram {
	border:0;
	width:30px;
	height:30px;
}

.twitter {
	border:0;
	width:30px;
	height:30px;
}

.footer-main {
    position: relative;
    width: inherit;
    height: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    margin: 6px;
    padding: 6px 6px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-decoration: none;
}

.socials    {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

.copyright {
    margin: 6px;
    padding: 6px 6px;

}

.list {
    font-style: normal;
    font-size: large;
    color: #eee;
    font: bolder;

}

.outer {
    position:relative;
    width: 200px;
    height: 300px;
}

.books  {
    height: 200px;
    width: auto;
}

.name   {
    font-family: 'Abel', sans-serif;
}

.container2 {
    position: relative;
    width: inherit;
    width: 100;
  }
  
  .image2 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #eee;
  }
  
  .container2:hover .overlay {
    opacity: .8;
  }
  
  .text2 {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #eee;
    padding: 20px;
  }

  #contacts {
      text-align: center;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      color: black;
  }



.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.button {
  background-color: cadetblue;
}